body{
     background:#DAD5C1;
     font-family:"Helvetica","Arial",Tahama;
	 
}
h3{
     text-align: center;
	 text-decoration: underline;
}

p {
     padding:2%;
}
img{
     text-align: center;
	 max-width: 100%;
	 height: auto;
	 width: auto;
}

#wrapper {
     margin: 0 auto;
     max-width: 980px;
     width: 90%;
     background: #CBBB9B;
     padding : 2%;
    border-radius : 10px;	 
}


header{
     padding: 5px;
	 text-align: center;
	 
}
nav{
     background: #000000;
	 padding: 0;
	 margin: 0 0;
	 border-radius: 10px;
	 background: -moz-linear-gradient(top, #888888, #000000);

     background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#000000));
     
}
nav ul{
     list-style: none;
	 margin-left: 7%;
	 padding: 0;
	 
}

nav li a {
     color : #000000;
	 display : block;
	 height:20px;
	 width:6.5%;
	 float : left;
	 padding: 20px;
	 text-decoration: none;
	 
}

nav a:hover, nav li.active {
     background:#322F2C;
	 color:#fff;
	 border-radius:5px;
	 background: -moz-linear-gradient(top, #444444, #322F2C);

     background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#322F2C));
	 
}
.clear{
     clear:both;
}

	 
#social img{
      padding-top: 5px;
	  height: 50px;
	  width: 50px;
	  
}

.left-col{
     background: #DAD5C1;
	 width:60%;
	 float:left;
	 margin-top: 2%;
	 border-radius: 10px;
	 
}
.sidebar{
     background: #DAD5C1;
	 width:38%;
	 position:relative;
	 float:left;
	 margin-top: 2%;
	 border-radius: 10px;
}

#social {
	 position:fixed;
	 width:50px;
     left:0px;
	 background:#404040;
	 background-color:rgba(64, 64, 64, 0.8);
     border:solid #777777 1.5px;
	 z-index:1;
	 border-left:none;
     border-bottom-right-radius: 15px;
	 border-top-right-radius: 15px;
}

#social p{
     -webkit-transform: rotate(-90deg); 
     -moz-transform: rotate(-90deg);
}

#social img{
    opacity:0.4;
	
}

#social img:hover{
    opacity:1.0;
	left:200px;
}

.vid{
     position: relative;
	 padding-bottom: 56.25%;
	 padding-top: 30px;
	 height: 0;
	 overflow:hidden;
}
.vid  iframe{
      position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  
}
footer{
      background: #A09885;
	  border-radius: 50px;
}

/*___Media !___*/
@media screen and (max-width : 740px){
.left-col{
     width: 100%;
	 
}
.sidebar{
 width:100%;    
}
